/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

$desktop: 628px;
$smallpadding: 4px;
$padding: 24px;
$margin: 24px;
$red: #BC1B39;
$background: #fffff8;
$graybackground: grayscale($background);
$darkborder: darken($graybackground, 10%);

body {
  color: #483C32;
  background-color: $background;
  font-family: Goudy Old Style, Times New Roman, serif;
  overflow-y: scroll;
  line-height: 1.5em;
}

a {
  color: #4B5D6C;
  text-decoration: none;
  :visited {
    color: #4B5D6C;
  }
}

#header {
  margin: 24px auto;
  padding: $padding;
  max-width: $desktop;
  text-align: center;
}

#content {
  max-width: $desktop;
  margin: 0 auto;
}

.post {
  padding: $padding;
  margin: $margin;
}

figure {
  width: 400px;
  outline: 1px solid $darkborder;
  display: block;
  margin: 16px auto;
  padding: 8px 0;
  text-align: center;
  & img {
    max-height: 400px;
    max-width: 368px;
    margin: 16px;
  }
  & figcaption {
    font-size: 0.8em;
  }
}

@include keyframes(postPreviewClockwise) {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@include keyframes(postPreviewCounterclockwise) {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.post-preview {
  min-width: 200px;
  min-height: 102px;
  background: $darkborder;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border: 1px solid $background;
    display: none;
  }
  &:hover:before, &:active:before {
    display: block;
    @include animation(postPreviewCounterclockwise 10s linear infinite forwards);
  }
  &:after {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 1px solid $red;
    border-bottom: 1px solid complement($red);
    display: none;
  }
  &:hover:after, &:active:after {
    display: block;
    @include animation(postPreviewClockwise 1s linear infinite forwards);
  }
  position: relative;
  & a.post-preview-link span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  }
  &:hover h2 a {
    color: $red;
    text-shadow: none;
  }
  & .tag {
    position: relative;
    z-index: 2;
  }
  & figure, & figure:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    outline: none;
  }
  & figure:after {
    content: "";
    @include background(
      linear-gradient(left, rgba(255,255,255,1) 0%,
                            rgba(255,255,255,0) 100%)
    );
  }
}

.code {
  outline: 1px solid $darkborder;
  border-top: 1px solid $darkborder;
  padding: $padding;
  background: $graybackground;
  overflow-x: scroll;
}

.pagination {
  border-top: 1px dotted $darkborder;
  margin-top: 12px;
  padding-top: $padding/2;
  text-align: center;
}

.github-widget {
  margin: 16px 0;
}

#disqus_thread {
  padding: $padding;
  border-top: 1px dotted $darkborder;
}

blockquote {
  word-wrap: break-word;
}

.tag {
  display: inline-block;
  margin: 4px;
  padding: $smallpadding;
  min-width: $padding;
  font-size: 0.8em;
  border: 1px solid $darkborder;
  background: $graybackground;
  position: relative;
  &.active {
    background: inherit;
  }
  &:hover {
    border-radius: $smallpadding;
    background: $background;
    border-color: transparent;
    border-left: 1px solid $red;
    border-right: 1px solid $red;
  }
  & span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (max-width: $desktop + 2*$padding) {
  body {
    margin: 0;
  }
  #header, #footer, .post, figure {
    width: initial;
    margin: 0;
    outline: none;
  }
  .post {
    padding: 8px;
    margin: 8px 0px;
    border-top: 1px dotted $darkborder;
  }
  #disqus_thread {
    padding: 8px;
  }
  .post img {
    margin: 0;
    max-height: 200px;
    max-width: 100%;
  }
  .post-preview {
    padding: 4px;
    .tag {
      display: none;
    }
    & figure {
      display: none;
    }
  }
}

