/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

body {
  color: #483C32;
  font-size: 1.25em;
  overflow-y: scroll;
}

a {
  color: #4B5D6C;
  text-decoration: none;
  :visited {
    color: #4B5D6C;
  }
}

#header {
  background: #ffffff;
  margin: 24px auto;
  padding: 24px;
  max-width: 684px;

  @media (min-width: 700px) {
    border-top: 1px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
  }
}

.post {
  background: #ffffff;
  margin: 24px auto;
  padding: 24px;
  width: 684px;
}

figure {
  width: 400px;
  outline: 1px solid #dddddd;
  background: #f0f0f0;
  display: block;
  margin: 16px auto;
  padding: 8px 0;
  text-align: center;
  & img {
    max-height: 400px;
    max-width: 368px;
    margin: 16px;
  }
  & figcaption {
    font-size: 0.8em;
  }
}

.post-preview {
  @include background(linear-gradient(left, rgba(0,0,0,0) 0px, rgba(0,0,0,0.1) 20px, rgba(0,0,0,0) 534px));
  &:hover {
    @include background(linear-gradient(left, rgba(0,0,0,0) 0px, rgba(0,0,0,0.15) 20px, rgba(0,0,0,0) 534px));
  }
  position: relative;
  & a.post-preview-link span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  }
  & .tag {
    position: relative;
    z-index: 2;
    background-color: #f8f8f8;
    outline: #808080;
  }
  & figure, & figure:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    outline: 0;
  }
  & figure:after {
    content: "";
    @include background(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));
  }
}

.code {
  max-width: 652px;
  outline: 1px solid #dddddd;
  border-top: 1px solid #ffffff;
  padding: 16px;
  background: #f0f0f0;
  overflow-x: scroll;
}

.pagination {
  border-top: 1px dotted black;
  margin-top: 12px;
  padding-top: 12px;
  text-align: center;
}

.github-widget {
  margin: 16px 0;
}

#disqus_thread {
  padding: 16px;
  border-top: 1px dotted black;
}

blockquote {
  word-wrap: break-word;
}

.tag {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  font-size: 0.8em;
  outline: 1px solid #dddddd;
  background: #f0f0f0;
  position: relative;
  &.active {
    background: #ffffff;
  }
  & span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 700px) {
  #header, #footer, .post, figure {
    width: 100%;
    padding: 0;
    margin: 16px 0;
    background: #ffffff;
    outline: none;
  }
  .post {
    border-top: 1px dotted black;
  }
  .post img {
    margin: 0;
    max-height: 200px;
    max-width: 100%;
  }
  .post-preview {
    .tag {
      display: none;
    }
    & figure {
      display: none;
    }
  }
}

