body {
  background-image: url(/assets/tiny_grid.png);
  font-family: "Goudy Old Style", "Times New Roman", serif;
}

.preview-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.preview-block {
  flex: 1 0 ($content-width/4 - $spacing-unit*2);
  padding: $spacing-unit/2;
  min-height: $spacing-unit*4;
  text-decoration: none;
}

.preview-block[href]:hover {
  text-decoration: none;
  background-color: rgba(80, 200, 200, 0.1);
}

.preview-wrapper .preview-block:first-child {
  background-color: rgba(80, 200, 200, 0.2);
  display: flex;
  align-items: center;
}

.preview-image {
  height: ($spacing-unit*4);
  background-position: center;
  background-size: cover;
}

.post-content {
  figure {
    margin: $spacing-unit auto;
    width: 400px;
    display: block;
    text-align: center;
    img {
      display: block;
      max-width: 368px;
      max-height: 400px;
      margin: 0 auto;
    }
    figcaption {
      margin-top: $spacing-unit/2;
      font-style: italic;
    }
  }
}
