.section-header INTERESTS
.content-header
  .left Professional Development and Personal Accomplishments
.content-subtext
  I am motivated by travel and adventuring.
  I enjoy couchsurfing and cycling in new cities, meeting interesting people, and thinking differently.
%ul
  %li
    Backpacked the Appalachian Trail from Georgia to Maine.
    .right Summer 2008
  %li Ran marathons in Chicago, Pikes Peak, Virginia Beach, Philadelphia, and Pittsburgh.
  %li Bicycled from Pittsburgh to Washington, DC, and Pittsburgh to Lake Erie.
  %li
    Competed and currently judge 24-hour Game Coding Competitions.
    .right 2007-2012
    %br
    \- First place in inaugural competition, PyGame defense game.
    %a(href="https://github.com/osgcc/osgcc1-MailDefense") (github)
  %li
    TIME Magazine: Person of the Year
    .right 2006
    %br
    %em &ldquo;We're looking at an explosion of productivity and innovation, and it's just getting started.&rdquo;
  %li
    Boy Scouts of America: Eagle Scout Rank
    .right January 2004
    %br
    \- Designed and built a 30-foot timber bridge which withstood Hurricane Ivan.
