.section-header EDUCATION
.content-header
  .left M.S. University of Pittsburgh
  .right In progress
.content-subtext
  Computer Science
%ul
  %li
    Human-Computer Interfaces
    %br
    \- Designed and built Arduino theremin using light sensor.
  %li
    Data Visualization and Modeling
    %br
    \- Used Ruby on Rails and flot to show inter-hospital MRSA levels.
.content-header
  .left B.S. University of Pittsburgh
  .right Cum Laude, April 2008
.content-subtext
  Applied Mathematics and Computer Science with Honors
%ul
  %li
    Shape Recognition and Classification Using Fourier Descriptors
    %a.lite(href="http://joe.framba.ch/shapes.pdf") (PDF)
    %br
    \- Shows methods for shape recognition and classification, for searching a database of shapes.
    %br
    \- Explores properties of shape analysis to develop Shape Signatures and Fourier Descriptors.
  %li
    Question-Answering System using NLP for Google-hosted Competition
    %br
    \- Python question-answering system analyzes text sources, generates and answers questions.
    %br
    \- Pitt's three-member team entered CMU's competition, hosted by Google.
  %li
    Lifespan Persistence through Numerical Analysis of Nonlinear Systems
    %a.lite(href="http://joe.framba.ch/raptors.pdf") (PDF)
    %br
    \- Explains iterative methods for finding approximate solutions of systems of nonlinear equations.
    %br
    \- Second place in Pitt CS Day poster competition.
