.section-header EDUCATION
.content-header
  .left University of Pittsburgh
.content-subtext
  .right Spring 2008
  B.S., Applied Mathematics and Computer Science with Honors
%ul
  %li
    Shape Recognition and Classification Using Fourier Descriptors
    %br
    \- Shows methods for shape recognition and classification, for searching a database of shapes.
    %br
    \- Explores properties of shape analysis to develop Shape Signatures and Fourier Descriptors.
  %li
    Question-Answering System using NLP for Google-hosted Competition
    %br
    \- Python question-answering system analyzes text sources, generates and answers questions.
    %br
    \- Pitt's three-member team entered CMU's competition, hosted by Google.
  %li
    Lifespan Persistence through Numerical Analysis of Nonlinear Systems
    %br
    \- Explains iterative methods for finding approximate solutions of systems of nonlinear equations.
    %br
    \- Second place in Pitt CS Day poster competition.

.content-subtext
  .right Fall 2008 - Spring 2012
  M.S., Computer Science (Incomplete)
%ul
  %li
    Human-Computer Interfaces
    %br
    \- Designed and built Arduino theremin using light sensor.
  %li
    Data Visualization and Modeling
    %br
    \- Used Ruby on Rails and flot to show inter-hospital MRSA levels.
