.section-header EXPERIENCE
.content-header
  .left <b>ShowClix, LLC.</b>, Pittsburgh, PA
  .right June 2010 to Present
.content-subtext <b>Senior Software Engineer</b>
.content-subtext
  Lead architect and developer for core administrative features for event organizers, and front-end checkout process for customers.
  Assist in hosting local tech meetups for node.js and the ShowClix social recruiting event, Engibeering.
%ul
  %li <b>Incentix</b>: Use Facebook and Twitter API to give discounts with social promotion.
  %li <b>Embed and Facebook checkout</b>: Embeds the purchase process into a website or Facebook page tab.
  %li <b>Merchandising</b>: Product selling and fulfillment platform used by C2E2, Blue October, and others.
  %li <b>Product bundles</b>: Groups tickets and products, with flexible pricing and reporting options.
  %li <b>Membership</b>: Offers members-only tickets and discounts with client's external API.
  %li <b>Self-serve membership</b>: Sellers may import membership lists into ShowClix-hosted MongoDB.
  %li <b>Questions</b>: Sellers may ask questions to customers per-sale, per-event, and per-ticket.
  %li <b>Order fulfillment</b>: Queues shippable orders, verifies tickets, and tracks shipping to customers.
  %li <b>BOCA thermal printing</b>: Prints physical tickets using a BOCA printer, with collation options.
  %li <b>Email Outbox</b>: Sellers may draft and send emails to customers using TinyMCE editor.
  %li <b>Stress testing</b>: Uses Grinder and Linode API to replicate production and slam it with 50,000 users.

.content-header
  .left <b>United States Steel Corporation</b>, Pittsburgh, PA
  .right May 2006 to June 2010
.content-subtext <b>Business Services Specialist I</b> - Warehouse, Shipping, and Logistics
%ul
  %li
    Converted mainframe COBOL/AS400 programs into VB.NET web interfaces.
    These include inventory management, truck tracking and gate security applications, and scheduling reports.
  %li Supported older ASP and J2EE applications for multiple teams.
/ <h3>Developer - ERP Extensions and Workflows</h3>
/ <ul>
/   <li>Oracle, Accenture, HP, and IBM technologies synergize integrated rapid development.</li>
/   <li>Effective optimal best-practice capabilities and value-added global leverage.</li>
/   <li>Strategic functional business suite deployment.</li>
/ </ul>

/ <div>
/   <div class="summary">University of Pittsburgh, Pittsburgh, PA</div>
/   <h3 class="right">July 2007 to April 2008</h3>
/   <h3>Resident Assistant</h3>
/   <ul>
/     <li>Supervised 39 residents, organized programs, and advised on personal and academic issues.</li>
/   </ul>
/ </div>

/ <div>
/   <div class="summary">National Appraisal and Title Services, Washington, PA</div>
/   <h3 class="right">May 2005 to September 2005</h3>
/   <h3>Developer</h3>
/   <ul>
/     <li>Developed log management, database management applications with Java and Perl.</li>
/   </ul>
/ </div>

/ <div>
/   <div class="summary">University of Pittsburgh, Greensburg, PA</div>
/   <h3 class="right">January 2005 to April 2006</h3>
/   <h3>Mathematics Tutor</h3>
/   <ul>
/     <li>Tutored C++, Java, and Algebra through Calculus 2 for up to ten students per week.</li>
/   </ul>
/ </div>
