.page
  .top-right-links
    %a{:title=>"pdf", :target=>"_blank", :href=>"/assets/JosephFrambach.pdf"} <i class="fa fa-file-pdf-o"></i>
    %a{:title=>"stack overflow", :target=>"_blank", :href=>"http://stackoverflow.com/users/1253312/joe-frambach"} <i class="fa fa-stack-overflow"></i>
    %a{:title=>"github", :target=>"_blank", :href=>"https://github.com/joeframbach"} <i class="fa fa-github"></i>
    %a{:title=>"twitter", :target=>"_blank", :href=>"https://twitter.com/joeframbach"} <i class="fa fa-twitter"></i>
  .page-header
    .header-name JOSEPH FRAMBACH
    .header-address 
      240 Lombard #332 SF CA 94111
      %br
      (412) 865-7790, joe@framba.ch
  =block
