.section-header PROFICIENCIES
.content-header
  .left Back-End Development
.content-subtext There is no silver bullet. Use the tool best suited for the job. Right now I can hit the ground running with:
%ul
  %li PHP: Transitioning 5.2 to 5.3 and 5.4. Familiar with Composer, PHPUnit, and Selenium.
  %li MySql and its ilk: Postgres and Oracle PL/SQL. And its antitheses: MongoDB and Redis.
  %li Python and its computation modules: numpy, scipy, QSTK for computational investing.
  %li Some frameworks: Wordpress, Drupal, Rails, although I don't like to rely on them.
  %li Node and its common modules: async, socket.io, Express, Mongoose.
  %li Other servers and proxies: nginx and HAProxy. For load balancing and checkout queueing.

.content-header
  .left Front-End Development
.content-subtext Lists are for machines. Throw any technology at me and I'll do just fine.
%ul
  %li Foundations: HTML, CSS, javascript. I pay attention to standards and new toys.
  %li Abstractions: JQuery, HAML, SASS, coffeescript. Writing low level code is so 2000s.
  %li Applications: AJAX, Twitter Bootstrap, JQuery Templates.

.content-header
  .left Operating Systems and Software
.content-subtext
%ul
  %li Most comfortable with a bash prompt on Debian.
  %li Prefer vim over emacs and git over hg.
