.section-header PROFICIENCIES

.content-header
  .left <b>Front-End Development</b>
%br
%ul
  %li
    Foundations: HTML, CSS, Javascript; Attention to standards and specifications.
  %li
    Libraries and Tools: jQuery, Underscore, Backbone, Require, d3, Handlebars, Mustache, Coffeescript.
  %li
    Learning about: Angular, React (and Flux), Jasmine.

.content-header
  .left <b>Back-End Development</b>
%br
%ul
  %li
    <em>Node</em> and its common modules: async, socket.io, Connect with and without Express.
  %li
    <em>PHP</em>: Transitioning 5.2 to 5.3 and 5.4. Familiar with Composer, PHPUnit, and <em>Selenium</em>.
  %li
    <em>MySql</em> and its ilk (<em>Postgres</em>) and its antitheses (<em>MongoDB</em> and <em>Redis</em>).
  %li
    <em>Python</em> and its computation modules: numpy, scipy, QSTK for computational investing.
  %li
    Some frameworks like Wordpress and Rails, although I don't like to rely on them.
  %li
    Other servers and proxies: nginx and HAProxy. For load balancing and checkout queueing.

