:markdown
  In the summer of 2008 I spent 115 days hiking 1,960 miles from Springer Mtn., Georgia to Rangeley, Maine. Unfortunately I did not keep a proper journal the entire way. This is an attempt to remember everything before it's lost to senility.

  > May 15, 2008

  > From Icewater Springs Shelter, Charlie and I left at 9:15am and didn't stop until TriCorner Knob Shelter for lunch at 3pm. It was a wet, cold, windy, miserable day, but we kept on keeping on with Standing Bear Farm in mind as a goal. We passed OD&CC, who I failed to mention earlier. We first met OD&CC at Fontana Dam, where they received a large mail drop from home and left some really good food in the hiker box. I picked up Meatless Mexican Rice and Charlie picked up Chicken and Brocolli. OD, a retired Army Ranger, is hiking with his wife, and packaged his own dried meals ahead of time. Charlie is pushing OD to start a small business, starting by sending meals to Charlie once OD gets back from his section hike.

  > At lunch, we caught up to Ted, who left earlier in the morning. He joined us for the remainder of the day's hike.

  > From here it was nonstop until dinner at Cosby Knob Shelter, the most depressing shelter ever. It was completely packed with (obviously) section-hikers, Ted and Ryan (The Brothers Not), and Haggis (the Scotsman). It was 9pm when we rolled in for dinner, when most were going to sleep. There were groups of 3 or 4 people scattered about, day hikers, friends who came out to hike in the rain but ended up staring at the ground, not speaking. The Brothers Not and Haggis were great company through dinner, and when we left there was little to do but sleep. However this was only the beginning of the night for us 3 hikers. We had 7 miles to go and no sunlight.
  > The only thing that keeps anyone going at night is conversation. "If you were to unintentionally fall off Clingman's Doom, what would you yell?" "How many 5-year-olds would it take to kill you? 10-year-olds?" "What would you name your Leki poles?" "Why does Charlie call every headlamp a Petzl, and every trekking pole a Leki, even though he uses Black Diamond headlamps and trekking poles?"

  > We finally arrived at 12:25am, at Davenport Gap Shelter, 27.4 miles from our starting point. Sleeping here were the couple Turtlefast and Little Bear, and the Three Canuck Girls (Mama Maple, PB, Jam).

  ![The Three Canuck Girls](/images/appalachian-trail-night-hiking-3cg.jpg "The three canuck girls.")

  > Let me stop here to introduce the Three Canuck Girls. Ever since I left Amicalola on day one, they've consistently been one week ahead (from reading shelter journals) and they always have the longest, most-thought-out journal entries. It was great to finally meet them, but not under these conditions.

  > We caused a little ruckus getting our packs sorted out but finally went to sleep around 1am.

  > There's a good reason for all of this night-hiking, and it is two-fold. If you get to a hostel at night, you're essentially paying only to sleep, and that's wasted money. It's also a zero-day, which is a waste of good daylight. So the best time to get to town (or to a hostel) is early in the morning, so you have a day off without losing mileage.

  > May 16, 2008

  > Today we hiked 3.3 miles from Davenport Gap Shelter to Standing Bear Farm, where my mother sent chocolate no-bake oatmeal cookies, and my friend Jordan's cousin Vicky sent me pictures of the upcoming trail along with a map of southwest Virginia and an invitation to a camping trip. The day off was well-needed ever since my ankle developed a sharp pain this morning.

  > Curtis runs the place, which provides Internet access, hand-wash laundry, and resupply. I spent some time typing up my earlier journal entries but gave up pretty quickly. A hot shower and clean clothes are a nice bonus out here.

  > Curtis explained that in the morning, the Davenport Gap Shelter crew arrives, then around noon the Cosby Knob crew shows up, and sometimes people come in from TriCorner Shelter in the afternoon and evening, so he keeps everything open and available all day and night, completely honor system. At 4 or 5 he goes for a beer/dinner run for the hikers.

  > Ted and Ryan (The Brothers Not), Haggis, OD&CC, Turtlefast, and Little Bear were all from these shelters and came in throughout the day.

  > Another couple spent the day with us as well, taking 5 days for a short hike between school and work. The girl left the privy in terrible condition, and the guy didn't really talk to us at all.

  > Tomorrow we hope to hit 30 miles for an easy day into Hot Springs. We'll see how that does. The weather is crappy throughout the east coast.
