.github-widget{'data-repo'=>"joeframbach/jquery-couchsurfing-widget"}

:markdown
  I made a webpage widget for Couchsurfing. It looks like this:

%script{:type=>'text/javascript',:src=>'/assets/jquery-couchsurfing-widget.js'}
.couchsurfing-widget{'data-username'=>'joeframbach'}

:markdown
  Unfortunately, Couchsurfing does not have a public API, and the server does not allow CORS, so I had to proxy the request through YQL and pick the resulting HTML apart with JQuery.

  The github repo for the project is available here:
