:markdown
  My car died last month. But it got better.

  Emily and I registered for a Wilderness Risk Management Conference in Durham, NC, over October 14-16. The Pitt Outdoors Club's semi-annual Seneca Rocks climbing trip was scheduled for the weekend immediately following the conference, so we planned to learn us some knowledge then hopefully not put it to use on the rock. Alas, it was not meant to be.

  Everything was great on the ride down. We took the scenic route through the mountains, rocked out to Iron and Wine and Fleet Foxes, visited Tamarack (The Best of West Virginia), and sat on the side of I-85 for an hour and a half waiting for a tow truck. We were 15 miles from our destination when the mighty Chevy Malibu suffered an ill-fated heart attack.

  Of course, we foresaw this happening, so we prudently brought bicycles with us! I still think this was the best part of the trip, cycling in perfect fall weather in a distant unfamiliar city.

  Our Couchsurfing host, Larson, happened to already know Emily from a college they both attended in Connecticut. I swear she knows everyone on the east coast. We saw David Wax Museum at a local bar, a "mexo-americana" band, which "infuses Mexican son into its literary, countrified folk rock". They recently released Carpenter Bird, which you should buy.

  The WRMC is a two-day conference composed of eight sections, in each section five workshops are offered. We attended some of the more managerial workshops, which would be more beneficial to the Pitt Outdoors Club. Staff training, complexity and risk measurement, incident reviews, and volunteer coordination were big topics.

  And just like that, it's Friday night. My most awesome incredible father drove his giant truck for nine hours, slept a little in some parking lot, rented a trailer, and drove back to Pittsburgh. I have no idea how he manages those long drives.
