:markdown
  UNIX systems and their derivatives store the current datetime as a single number - the number of seconds since 1 Jan 1970 00:00:00, known as the Unix Epoch (pronounced "epic"). This guarantees that odd dates such as 1 Jan 2000 and 29 Feb 2004 do not cause problems, and makes date calculations really easy. As an added bonus, geeks around the world will celebrate 13 Feb 2009 as a milestone in UNIX history. Why?
  Take a look at the current UNIX timestamp:

#unixepoch

:markdown
  Based on that number, and your powers of estimation, what do you think that number will be on 13 Feb 2009 23:31:30 UTC (18:31:30 EST)?

  `1234567890`. Party Time.

:javascript
  setInterval("document.getElementById('unixepoch').innerHTML=Math.floor((new Date()).getTime()/1000);",500);
