:markdown
  The MS150 bike ride is coming up soon! This two-day, 150-mile ride from Moraine State Park to Conneaut, Ohio benefits the National MS Society. This is the third year for the U. S. Steel team, but this is the first time we have a large team with real jerseys! U. S. Steel kicked off the fundraising effort with a $2200 donation for the team, but we still have a few gaps to fill to reach the preferred $250 minimum per person.

  Last Sunday was Pedal Pittsburgh, the annual city-wide cycling event, offering 60-, 50-, 35-, 25-, 15-, and 6-mile rides starting throughout the morning, designed so everyone finished around the same time in the South Side Works for a huge cookout. Thanks to LBSs Iron City Bikes and Thick Bikes, my revamped Univega Safari Ten survived the 60-miler, ending with a 10-mile loop up and around Mt. Washington.

  ![Me and Jason](/images/escape-to-the-lake-2009-jason.jpg "Pedal Pittsburgh. Photo courtesy Jason Godlove.")

  **About MS and the National MS Society**

  Multiple Sclerosis is a disease which weakens the immune system and damages the nervous system, often leading to visual problems, cognitive difficulties, and muscle weakness. The National MS Society is an organization devoted to raising awareness and funding for MS research.

  ![National MS Society](http://bikepax.nationalmssociety.org/images/content/pagebuilder/466448.gif "<a href='http://www.nationalmssociety.org/goto/frambach'>If you would like to donate, please do so by pledging support for the Escape to the Lake</a>")
