:markdown
  The MS150 bike ride is coming up soon! This two-day, 150-mile ride from Coopers Lake to Conneaut, Ohio benefits the National MS Society. This is the fourth year for the U. S. Steel team, with an even larger team with real jerseys! U. S. Steel kicked off the fundraising effort with a "safety sponsorship" donation, but it would not help to reach the preferred $250 minimum per person. (This is where you come in.)

  I'm ready to ride, but the MS Society isn't quite ready to let me; I'm a bit short on the fundraising goal. Thanks to Thick Bikes, my Univega Safari Ten miraculously transformed into an even more ancient Grandis Campione Del Mondo. It's a beautiful handmade Italian bike, worthy of a blog post of its own.

  **About MS and the National MS Society**

  Multiple Sclerosis is a disease which weakens the immune system and damages the nervous system, often leading to visual problems, cognitive difficulties, and muscle weakness. The National MS Society is an organization devoted to raising awareness and funding for MS research.

  ![National MS Society](http://bikepax.nationalmssociety.org/images/content/pagebuilder/466448.gif "<a href='http://www.nationalmssociety.org/goto/joe.frambach'>If you would like to donate, please do so by pledging support for the Escape to the Lake</a>")
