:markdown
  State borders on the AT are huge milestones (which also explains why all 550 miles of Virginia is so loathed). So when I approached my first state border, Georgia-North Carolina, I was really pumped. Uphill from the border mark was a small rock outcropping from which I took my notebook and wrote a good-bye letter to Georgia, without making a copy or taking a picture to remember, and left it in the register.

  A few days later at a hostel, I received an email from Gentjack with a picture of the letter. Take a read:

  ![Page 1](/images/appalachian-trail-ga-nc-page-1.png)
  ![Page 2](/images/appalachian-trail-ga-nc-page-2.png)


  Then a year later I got an email from Georgia! Really I know!

  > It has been a year since you were last here, and I have seen many hikers again on their journey.. 
  > My mountains are green and lush this year and teh wildflwoers are enjoying all the rain. 
  > Hope this email finds you well and happy.. 
  > Thank you for your gracious message.

  > Georgia

  ![Reply 1](/images/appalachian-trail-ga-nc-reply-3.jpg)
  ![Reply 2](/images/appalachian-trail-ga-nc-reply-4.jpg)
  ![Reply 3](/images/appalachian-trail-ga-nc-reply-5.jpg)
  ![Reply 4](/images/appalachian-trail-ga-nc-reply-6.jpg)

  I'm glad Georgia is keeping in touch.
