:markdown
  A large part of Pittsburgh's 250th anniversary celebration was the completion (or near-completion) of the 150-mile Great Allegheny Passage, an initiative of the Rails to Trails program, connecting Pittsburgh to Cumberland, MD. From Cumberland, the GAP connects to the 185-mile C&O Towpath, extending to DC. Venture Outdoors hosted a 24-hour bicycle relay from DC to Pittsburgh during the anniversary celebration in October 2008, commemorating the independence of the American colonies, in which I rode a 20-mile section in Maryland, and the final 20 miles into Pittsburgh. So, for spring break this year, I decided to attempt the full length of the GAPCANDO trail to DC. As with all of my undertakings, it was a pretty bumpy ride and it didn't pan out as planned, but I still mark it as a success.
  
  For the few weather-permitting weekends leading up to this trip, I went out for road trips and averaged 15mph for 4 hours, so I thought maybe 70 miles wouldn't be so bad for the first day, and 90 would be do-able. Strike one.
  
  **Day One**
  
  The first 20 miles to McKeesport is incomplete and has many sections impassable by bike, so my dad shuttled me to McKeesport, but not before picking up a huge plastic sheet with a hood and buttons, in case it rained. I wore it for about 5 minutes before I took it off and never put it on again. Of course, it was more wet on the inside than it was on the outside.
  
  ![Trail](/images/gap-cando-trail.png)
  
  I'll be honest here. The trail is really boring, and I underestimated it, horribly, so for future expeditions I'll be sure to stick with road riding. On a road bike, you feel every rock, every stick, every dip, and every bump on the trail. The thin tires (23mm front, 25mm rear) cut deep in the dirt, greatly increasing the resistance from what wide knobby tires would give. Fast-forward eight hours.
  
  Well, I made it to Ohiopyle, 11 miles short, and way too dark to ride at night. As my luck goes, there was only one place to stay in the area, at a whopping $93 (during the off season!). I think there was a bird nest with loud chicks in the wall, or else the room next to mine had a TV on too loud all night. They're not getting a thank-you card, that's for sure.
  
  **Day Two**
  
  Ohiopyle is dead in the winter, so I packed up early and finished up that 11 miles to Confluence (the original destination) hoping to hit up the River's End Restaurant. Of course, it's out-of-season and they're closed. Sister's was open, thankfully, and I enjoyed two rounds of breakfast. They're getting a thank-you card, for sure.
  
  The next 40 miles made me very angry at myself for not doing enough research on the trail conditions. Apparently, dirt turns into mud after a heavy rain, and it tends to remain wet in cold weather. I spent nine hours on the trail, pumping uphill in two inches of dirt, and only made it 40-something miles. Just great.
  
  ![Meyersdale](/images/gap-cando-meyersdale.png)
  
  Meyersdale, PA. A++++ would visit again. The entrance to town has a large bulletin board with a map and phone numbers of every establishment in the area, including a HOSTEL for CYCLISTS! In one fluid motion I tore the phone out from the pack and had the number dialed. No answer. Oh well, where's the bar?
  
  After an hour or so I called again, with great success. The hostel is a basement room of the high school, fitted with ten bunks, showers, a foosball table, and a few couches. It was closed for the season, but with very little prompting I was let in and stayed the night free of charge. Thank you card, no doubt.
  
  A few of the locals let me know that the Big Savage Tunnel is closed for the season. The BST is the longest tunnel on the trail, at 3300 ft., at the highest point of the trail, with no easy bike detour. So I mulled over my options at the hostel and decided to shuttle it. Queen City Taxi picked me up in the morning and shuttled 30 miles to Cumberland. While I'm a little disappointed about it, there's not much else that could be done, especially since I have reservation deadlines made in Harper's Ferry and DC.
  
  **Day Three**
  
  The C&O Towpath is absolutely wonderful. From here it's all somewhat downhill, on well-traveled, well-packed, well-maintained solid trail. There are a lot of informational boards along the towpath, describing alongside the ruins the story of the towpath, its industries, and local geography; they provide a nice distraction from staring at trail.
  
  I ate lunch in Paw Paw, West Virginia, an interesting little town famous for the Paw Paw Tree, and a large unlit tunnel, built precariously into and alongside the flat rock side of the local hillside. After a short road ride, I passed the former well-known cyclist hostel which had recently been taken by fire. Authorities deemed it arson. Perhaps in the future it will be rebuilt. The first place I saw with food was Grandma's Bed and Breakfast, which served a really good chili and roast beef.
  
  At nightfall I found myself in Hancock, MD, 60 miles down and 25 miles to Williamsport. MD. As the eternal optimist, I hoped to hit Williamsport because it's a larger town with a higher probability of finding a decent cheap place to crash. Hancock provided a Motel 8 with a AAA member discount, friendly staff, a warm shower, a comfortable bed, and a convenient location close to restaurants and the food store. I swear they're not paying me to say this, but it was pretty nice. However, the local teenagers are all assholes. A walk down main street in tights, cycling shoes, a tight undershirt, and a windbreaker (nothing matching) was quickly mocked by a bunch of kids hanging out on their pickup truck tailgates. Either that, or they were practicing their Adam Sandler impressions. Then the coolest guy in town barrels down the road, going at least 50 in his suped-up Mitsubishi. I guess there's not much to do in this town.
  
  **Day Four**
  
  It's a good thing I didn't get to Williamsport last night. Twenty-five miles from Hancock to Williamsport made the timing perfect for lunch at Desert Rose Cafe, the kind of place I think every town should have. Rose, the owner, really knows how to feed a traveler, and the "regulars" keep a lively, warm environment. Rose is trying to find room for an ice cream freezer and more seating, but I don't expect it to stop there. I imagine the next time I stop through Williamsport, she'll have an all-out diner on her hands. The Giant dealer across the street showed me around the trail detour. There's a six-mile section that keeps washing out, so a hilly road detour was put in place, indefinitely. But a quick glance at a map can tell you the officially-sanctioned detour is terribly inefficient. It provides the shortest amount cut out from the trail, but at the expense of a large hill climb on a shoulder-less road. The alternative is to run straight from Williamsport to the end of the detour, mostly downhill and with a shoulder. Two more thank you cards to Williamsport. Good people.
  
  ![Harpers Ferry](/images/gap-cando-harpers-ferry.png)
  
  Miraculously, I arrived in Harper's Ferry before 5pm. I checked in at Karan Townsend's Towns Inn, dropped my bags, and headed out because everything closes at 5pm. The first stop was the ATC HQ to visit Babu Simba, a 2008 AT thru-hiker who I met in Port Clinton, PA, at the outfitter before shuttling to the Yeungling brewery. Unfortunately he was not there, but I was able to sign the register and reminisce for a while.
  
  **Day Five**
  
  A cold front passed through overnight, dropping the temperatures near freezing. I was not prepared at all for this; the coldest I've experienced this week was 45F, so I stopped by the outfitter in the morning and picked up a sweet $65 Marmot wind shell for $30. Then I reminisced about the time Baltimore Jack sold me a pair of Vasques at the same spot eight months ago. Babu was at the ATC HQ for the morning before heading out for a Loudon Heights hike, so I stopped by and he went over his itinerary for his Harpers Ferry to Florida bicycle ride, which I would rather be biking right now.
  
  From Harper's Ferry, the towpath and the Appalachian Trail coincide for a few miles, until the AT veers north and the towpath continues east. I stopped at a white-blazed post and called my mom, to repeat the same call I made nearly eights months previous. A week from then I would see the family in Duncannon PA for the fourth of July.
  Perhaps the cold front was meant to be a foreboding message, because ten miles later my rear wheel stopped spinning. A spoke had completely torn itself out of the rim, possibly due to picking up so many stray sticks from the trail. This caused the wheel to be unbalanced, terribly untrue, and completely unusable. Thankfully, a pair of cyclists from the Harper's Ferry Hostel stopped to help and let me know I was only two miles from Point of Rocks, where I could find an inexpensive commuter train to DC.
  
  ![The White House](/images/gap-cando-whitehouse.png)
  
  Two miles later, I found myself at the Point of Rocks train station, with no train. The trains run inbound in the mornings and outbound in the evenings, and at noon when I arrived, I was out of luck. So I did what I do best: walk around looking sad and confused and out of luck. Within minutes I was in a little sporty BMW on my way to DC with the bike broken down in the trunk and backseat. It is incredible to realize how there are such good people left in the world. Pass it on.
  
  The last fifty miles of trail will have to wait. I'm tired, I'm cold, and I've got some sightseeing to sightsee. I'll come back to finish up the trail, you know, just like someday I'll go back to Maine to finish the Appalachian Trail.
