:markdown
  I spent New Years Eve this year at Mike and Sarah's place, playing board games and reveling in our geekdom. I had brought a few new Pokemon decks and boosters to play, but we didn't get around to it.

  The next series of events shouldn't surprise anyone who really knows me and my friends.

  Justin, Greg, Ben, and I ripped them open the next weekend, played every combination of deck-booster builds, spent an egregious amount of money on more cards, and trained like Pokemon Masters for the next three weeks. Our Victory Road led not to Indigo Plateau, but to Mansfield, Ohio.

  On Friday, January 29th, 2010, you may have heard Joe Esposito's "You're the Best Around" blaring from a VW Jetta in the distant west. If you were near, you may have seen four twenty-somethings fistpumping and headbanging and trying to name all the Pokemon. Cleveland didn't know what hit them.

  The rest of that night is best left to the historians and janitors.  
  The following day, however, shall be reminisced by my grandchildren.

  There was a pretty decent turnout, 25 or 30 people showed up. It made me a bit nervous. A guy in his late twenties walked in with a Pokemon messenger bag full of trainer badges from tournaments throughout the last ten years. A few scruffyneckbeards and an illiterate dude balanced it out, though. Justin and I had a decent draw, Justin with the full Typhlosion evolution line and me with the full Meganium line, along with a few Chanseys to take the beatings, which carried us both to a 4-1 score. Ben fared fairly well at 3-2, but Greg really had the short end of the stick. No Chanseys, no decent trainers, nothing.

  Most of the competitors are really into this stuff. They cringe when they see a deck bent and shuffled without card protectors. They spend hours trading cards back and forth. They dropped their jaws when the Elite Four casually handed over all of their cards to the kids in the Junior league after the tourney. It absolutely made our day.
