:markdown
  When a resume comes along with an interesting side project listed, I want to ask about it. That's hopefully why it's on the resume: to start a conversation.

  One of the best ways to grow as a developer is to build something, destroy it, and build it again. We all have the thought "what other ways can I build this?" in our heads as we're building a project. Most times I have seven different ways to do something, and the hardest part is just picking one.

  So, in my opinion, a great interview question would be "how else could you have built this?". It shows that the developer weighed the choices that we all inevitably have.
