:markdown
  It's important to have goals, but it's even more important to actually accomplish them. If you know the sunshine-and-happiness feeling that comes after acing an exam or paying the next credit card bill, you'll love how it feels to accomplish a long-term fleeting goal. For years I've planned to eventually run a marathon, and last weekend it finally happened.

  I ran the 2009 Pittsburgh Marathon in 4 hours and 30 minutes. I've been stretching constantly and walking down steps backwards since I still don't have full control of my quadriceps. It really hurts.

  What else is on my list? Foreign language fluency and summiting Katahdin.
