:markdown
  This year I signed up for the Reddit Pokemon Gift Exchange and spent a little too much time and money on the gift. The idea was to recreate the mural which appears in Season 1, Episode 2, around the 8:10 mark.

  <iframe src="http://player.vimeo.com/video/23410571" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

:markdown
  I started with `imagemagick`, getting the screenshot into a useful state.

  ![Original screenshot](/images/pokemural-original.png "Original screenshot")

  ![Cleaned up with a grid](/images/pokemural-grid.png "Cleaned up with a grid")

  Then I traced each legend onto 1/4" plywood, and glued it into another sheet to give some kind of layering effect.

  ![Tracing](/images/pokemural-cut.jpg "Traced and cut")

  ![Glueing](/images/pokemural-glue.jpg "Glued for topography")

  There are many things I am not very good at, and artistry is on that list. I've never done anything like this before, and spent a lot of time at Michael's figuring out what kind of paint I'm supposed to use. Well, here's the finished product. I used acrylic paints and sponges for the large areas, and a $1 crayola brush from Target for the borders and features.

  ![Finished product](/images/pokemural-painted.jpg "Finished product")

  For a sense of scale, it is three feet tall and four feet long. With packaging, it just barely fits in the trunk of my car.

  ![Shipped](/images/pokemural-shipped.jpg "Shipping cost more than the supplies.")

  Fortunately, <a href="http://redditgifts.com/gallery/gift/probably-best-pokemon-gift-ever/">it survived the trip</a> from Pittsburgh to Missouri. My randomly matched gift-receiver and his wife and corgis were very happy to receive it.
