:markdown
  > supposeditypedallmypostslikethiswithnopunctuationnorwordboundariesyouwouldstillbeabletofigureoutthegistofwhatimtryingtosay

  It's somewhat easy for you to read that, if you're a native English speaker. Try this one out.

  > iefterf&ouml;ljandebladharjags&ouml;kttecknaendelafdest&auml;mningarochk&auml;nslorhvilkaliktunderbaranyaf&aring;glarsv&auml;fvakringgr&auml;nsenmellanbarndomochungdom

  Give up? That's okay; I have no idea what it says either, I don't know Swedish. Although this raises another question: Can a machine figure it out, with a large enough training set? A few weeks ago I posed this problem to a coworker, and here's what resulted after an hour or so.

  ![Bigrams](/images/the-day-i-parsed-nothing-bigrams.png "Bigram counts for Alice in Wonderland, base 16 for smaller display size.")

  In short, this means that the letter-pair "ha" appeared 4fd16 (1277) times, while "xh" appeared once. Most likely, that "xh" appeared at a word boundary, i.e., one word ended with x and the next word began with h ("...trying to box her own ears..."). The idea here is that low bigram counts correspond to word boundaries.

  There are 107716 characters (a-z) in the text, so given an average word-length of 8 (I made that up), there should be 13464 words. This next part is tricky. A ‘threshold' must be found. Any bigram with a count fewer than the threshold will have a word boundary inserted, and any bigram with a count higher than the threshold will be part of a word. I'll cut to the chase: k<=133 (8516) provides 13490 word boundaries (see the above table, find the cumulative sum for k<=133 yourself if you'd like).

  **Results**

  ``` text
  downtherab b itholealicewas begin ningto get verytiredof sitting
  b y hersisterontheb an k andof hav ing nothingtodoonceortwiceshehad
  peepedintothebook hersister was reading butithadno pic turesor
  con versationsinitandwhatisthe useofabook thoughtalicewithout
  pic turesor con versationsoshewas consideringin herown
  mindaswellasshecould forthehot day madeher feel verys leep
  yandstupidwhetherthepleasureof ma kingadais y chain
  wouldbeworththetrou b leof getting upand pickingthedaisieswhensu
  ```

  You get the point: It didn't really work out so well. As I was skimming through the results, I found this gem:

  ``` text
  goingoutalto gether li keacand lei wonder whatishouldbeli
  kethenandshetriedtofanc y whatthef lameofacand leis li
  kea fterthecand leis b lownout forshecouldnotremem bereverhav
  ingseensuchathinga ftera whilefindingthat nothing
  morehap penedshedec idedongoingintothegardenatoncebutalas
  for pooralicewhenshegottothedoorshefoundshehad for
  ```

  Oh wow, check it out. I parsed *nothing*!
