:markdown
  I fell asleep on my creative side and now it's all tingly and won't wake up. In lieu of something original, I present to you a poster I made nearly two years ago (18 Feb 2007) for Dr. George Novacky's Scientific Computation course at the University of Pittsburgh. This poster was entered in a departmental competition, yielding second place. Impetus was provided by Randall Munroe's brilliant webcomic, [xkcd](http://www.xkcd.com/135/).

  [Lifespan Persistence through Numerical Analysis of Initial Value Problems](/raptors.pdf) deals with a true life-and-death scenario: which direction do you run if you're surrounded by three raptors?

  Surprisingly, there is one solution that yields immortality, but it is highly theoretical. If you alter the conditions of the problem such that the "Utahraptors sacrifice speed in favor of quick turning ability"[1], and allow the human to have infinite acceleration to a maximum velocity of 6 m/s regardless of angular change, then the human may run around in circles without being devoured. Queue the Benny Hill music.

  [1] "The velociraptors can turn at any angle at any velocity. This has a large effect on the solution, and was only implemented after consulting with [Randall Munroe], who said, 'I actually remember seeing some research saying that Utahraptor may have sacrificed some speed in favor of quick turning ability, so there's some justification for that one. So I would say you let them turn as fast as they want, but they always run toward your current position (in reality, raptors are far more cunning than this).'" Contributed by Matthew Beckler, University of Minnesota.
