:markdown
  Once again, Couchsurfing.org saves the day.

  Many months ago, I heard about the Virginia Beach Shamrock Marathon from an Appalachian Trail alumnus. It looked pretty cool. 16,000 people all dressed in green? Great. Free beer? Even better. Sign me up.

  But then I looked into the logistics. It turns out there are no flights between PIT and ORF - they're all routed through Detroit or Newark. Fortunately I like airports, so I picked the itineraries with the slightly longer layovers so I can explore a bit.

  The hotel situation taught me a valuable lesson in foresight. I had counted on crashing with that AT hiker. However, as the days passed by, and my messages weren't returned, I needed to take some action. Couchsurfing has never let me down, but will it save me again with less than 24-hours notice? It's crunch time. I drafted a desparate message in a way that made it sound not so desparate, and sent it out to 25 people. 25 very gracious, kind, welcoming people. So welcoming, in fact, that my phone rang three times while going through the security checkpoint at PIT. Within an hour of sending out the messages, I had not only a couch to sleep on, but also a ride from the airport. Chris and Brent, you rock.

  By sheer awesomeness, they were also hosting an Irishman from New Zealand, Thomas, who is traveling the east coast southbound to Florida. Unfortunately for those running marathons the next day, this means they were up til who-knows-when playing drinking games. Chris was happy enough to offer up his bed to me, which worked out because they were going to pass out on the floor downstairs anyway.

  6:00am, off I go. Like a ninja I crept downstairs and out the door, with barely a whisper - not like anyone would have been conscious enough to hear me anyway. The shoreline was six miles away, so I made sure to give myself at least two hours for walking plus an hour for pre-race whathaveyou.

  Six oh one AM.  
  Arm out, thumb up. Here's a car.  
  Life is oh so good.

  I like to use this as an excuse for my laziness: Work and school keep me so busy I can't possibly find an hour a week to run. Yeah, it's pretty bad. So I was understandably nervous going into the run. As were about half the other runners. A minute before the start, the announcer asked, "Who is running their first marathon today?", and a third of the crowd raised their hands. "Who didn't train for this?" yielded many more hands and applause. I felt a little better about my condition.

  The course started in a huge crowd, with so many supporters for the first few miles, but it dwindled down quickly. After passing through Fort Story Navy Base, it followed a sectioned highway for a dozen miles to the turnaround. At mile 18, I felt not-so-good about my condition. I looked around and saw quite a few other people limping along with me. Well, the best I can do at this point is just finish, regardless of time.

  I limped the last eight miles. The splits are telling:  
  First 7.0 - 1:08:21 - 9:45  
  Next 6.1 - 0:59:04 - 9:41  
  Next 4.9 - 0:55:36 - 11:21  
  Last 8.2 - 1:52:53 - 13:46

  Let this be a lesson. If you're going to run a marathon, it helps to run a bit beforehand.
