---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

    {% if page.github %}
      <div class="github-widget" data-repo="{{ page.github }}"></div>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.previous %}
  <div class="preview-wrapper">
    <h2 class="preview-block"></h2>
    {% include project-preview.html post=page.previous.previous %}
    {% include project-preview.html post=page.previous %}
  </div>
  {% endif %}

  {% if page.previous %}
  <div class="preview-wrapper">
    <h2 class="preview-block"></h2>
    {% include project-preview.html post=page.next %}
    {% include project-preview.html post=page.next.next %}
  </div>
  {% endif %}

</article>
